.chart-list__cell {
    height: 24px;
    background-color: #2F71E5;
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
@media screen and (max-width: 500px) {
    .chart-list__cell {
        margin-bottom: 0;
    }
}