.search__info-subtitle {
    max-width: 550px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
}
@media screen and (max-width: 500px) {
    .search__info-subtitle {
        font-size: 20px;
        line-height: 26px;
    }
}