.logo__text {
    color: #fff;
    font-family: 'Roboto Slab';
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.logo__text_about {
    color: #000;
}

@media screen and (max-width: 500px) {
    .logo__text {
        font-size: 16px;
        line-height: 24px;
    }
}