.search__form {
    margin-top: 64px;
    max-width: 600px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media screen and (max-width: 1000px) {
    .search__form {
        margin-top: 24px;
    }
}
@media screen and (max-width: 500px) {
    .search__form {
        background-color: transparent;
        margin-top: 64px;
        flex-wrap: wrap;
    }
}