.search__bar-input-container {
    border-radius: 100px;
    background-color: #fff;
    height: 64px;
    display: flex;
    align-items: center;
    width: 288px;
}

@media screen and (max-width: 1000px) {
    .search__bar-input-container {
        height: 56px;
    }
}
@media screen and (max-width: 500px) {
    .search__bar-input-container {
        width: 100%;
    }
}