.swiper-slide__about-img {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
