@import url(./__img/link__img.css);

.link {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    font-weight: bold;
    transition: opacity ease .4s;
}

.link:hover {
    opacity: .5;
}