@import url(../../../cardlist/cardlist.css);
@import url(../../../section/__header/section__header.css);
@import url(./more-button/more-button.css);

.search__success {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .search__success {
        padding: 10% 0;
    }
}