@import url(./__item/stack__item.css);
@import url(./__item-logo/stack__item-logo.css);
@import url(./__item-name/stack__item-name.css);

.stack {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 40px;
}
@media screen and (max-width: 1050px) {
    .stack {
        width: 680px;
        gap: 64px;
    }
}
@media screen and (max-width: 765px) {
    .stack {
        width: 340px;
    }
}
@media screen and (max-width: 500px) {
    .stack {
        gap: 32px;
    }
}