@import url(./stack/stack.css);
@import url(./__title/tech__title.css);

.tech__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}