.h3-text {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media screen and (max-width: 1000px) {
    .h3-text {
        font-size: 22px;
        line-height: 24px;
    }
}