.preloader__img_loading {
    width: 74px;
	height: 74px;
    animation: spin .75s infinite linear;
	background-image: url(../../../../images/Ellipse.png);
}

@keyframes spin {
	100% {
		transform: rotate(-360deg);
	}
}