@import url(./__header-link/section__header-link.css);
@import url(./__header-title/section__header-title.css);

.section__header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}