@import url(./__text/news-card__text.css);
@import url(./__title/news-card__title.css);

.news-card__description-container {
    height: 194px;
    margin-bottom: 10px;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .news-card__description-container {
        height: 160px;
    }
}