.swiper__pagination {
    position: unset;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .swiper__pagination {
        margin-top: 32px;
    }
}

@media screen and (max-width: 500px) {
    .swiper__pagination {
        margin-top: 16px;
    }
}