@import url(./__cell/table__cell.css);
@import url(./__chart-list/table__chart-list.css);
@import url(./__date-container/table__date-container.css);
@import url(./__text/table__text.css);

.diagram__table {
    padding: 5% 0 0 0 ;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    width: 100%;
}
@media screen and (max-width: 500px) {
    .diagram__table {
        grid-template-columns: 70px auto;
    }
}